$font-small: 10pt;
$font-normal: 11pt;
$font-medium: 13pt;
$font-large: 16pt;
$font-title: 22pt;

$break-mobile: 699px;
$break-tablet: 999px;
$break-desktop: 1300px;
$break-hd: 1900px;

$page-width: 1200px;

$font-normal-spacing: 14pt;
$font-normal-margin: 16pt auto;
$h1-spacing: 30px auto;
$h2-spacing: 25px auto;
$h2-spacing-alt: 25px auto 15px;
$h3-spacing: 20px auto 15px;
$space-text: 16pt auto;
$space-text-sub: 9pt auto;
