<div class="main-home" *ngIf="render">
	<div class="page-width text">
		<h1>Aprender Inglés Online</h1>
		<p>
			Aprende inglés online y comunicate con éxito en inglés con los mejores profesores a distancia en American Language Online. 
			Disponemos de clases online en grupos reducidos con una amplia variedad de horarios y de modalidades de clase a distancia en grupo, one-to-one a distancia y con la mejor <strong><a routerLink = "/app-aprender-ingles">app para aprender inglés</a></strong>con vídeos y con profesores nativos.
		</p>

		<p class = "mt-15">
			American Language Online ha formado a más de 100.000 alumnos con éxito ofreciendo la mejor calidad, con profesores profesionales y décadas de experiencia en la formación de idiomas. Nuestra plataforma online ha 
			conseguido el <strong>Premio Nacional a la Enseñanza de Inglés a Distancia en 2019 y Premio Nacional a la Mejor Metodología de Enseñanza en 2020.</strong> por la Federación de Enseñanza de Idiomas de España.
		</p>

		<p class = "mt-15">
			En este sitio web encontrarás los mejores recursos online para <strong>mejorar tu nivel de inglés</strong> con las 
			mejores valoraciones de miles de alumnos. Los 5 cursos de inglés online más recomendados, 
			clases de inglés a distancia con profesores nativos, exámenes oficiales de inglés que puedes 
			realizar desde tu casa y la mejor aplicación móvil para <strong>aprender inglés online</strong> con profesores nativos 
			y ejercicios online.
		</p>

		<p class = "mt-15">
			Con más de 50 años de experiencia en España, nuestra <strong>academia de inglés</strong> ofrece la mejor calidad y 
			los mejores profesores para <strong>aprender inglés a distancia</strong>, con una amplia variedad de modalidades de cursos 
			y de horarios para todos los niveles.
		</p>
	</div>
	
	<div class="skew-block blue main-course-container-block">
		<div class="center">
			<button id="main-course-top-button" class="btn orange" routerLink="/curso-ingles-online/intensivo" fragment = "top">
				<div class="bold">Elige tu curso de inglés online</div>
			</button>
		</div>
		<div class="skew-block-container main-course-container page-width">
			<h2 id="main-course-title" class="text-white">¿Qu&eacute; necesitas?</h2>
			<div class="main-course card" routerLink="/curso-ingles-online/intensivo" fragment="top">
				<div class="main-course-image">
					<picture>
						<source srcset='/assets/images/home/cursos-ingles-online/aprender-ingles-online.webp' type='image/webp'>
						<source srcset='/assets/images/home/home-mejorar.jpf' type='image/jpf'>
						<source srcset='/assets/images/home/home-mejorar.jxr' type='image/vnd.ms-photo'>
						<img srcset='/assets/images/home/cursos-ingles-online/aprender-ingles-online.jpeg' alt='Cursos inglés online'>
					</picture>
				</div>
				<div class="main-course-content">
					<div class="main-course-title bold">Curso de Ingl&eacute;s online</div>
					<p class="main-course-text">
						<strong>La mejor oferta de cursos de ingl&eacute;s online</strong> en grupo, con profesores nativos. Elige entre cursos intensivos diarios, días alternos o un día a la semana.
					</p>
					<button class="btn red bold">Ver m&aacute;s</button>
				</div>
			</div>
			<div class="main-course card" routerLink="/curso-ingles-online/particulares" fragment="top">
				<div class="main-course-image">
					<picture>
						<source srcset='/assets/images/home/clases-particulares/profesores-ingles-nativos-online.webp' type='image/webp'>
						<source srcset='/assets/images/home/home-certificar.jpf' type='image/jpf'>
						<source srcset='/assets/images/home/home-certificar.jxr' type='image/vnd.ms-photo'>
						<img srcset='/assets/images/home/clases-particulares/profesores-ingles-nativos-online.jpeg' alt='Clases particulares de inglés con nativos online'>
					</picture>
				</div>
				<div class="main-course-content">
					<div class="main-course-title bold">Clases individuales a distancia</div>
					<p class="main-course-text">
						Recibe tus clases individuales con <strong>los mejores profesores nativos</strong>. Tu marcas el ritmo y tu objetivo, nosotros te ayudamos a conseguirlo.
					</p>
					<button class="btn red bold">Ver m&aacute;s</button>
				</div>
			</div>
			<div class="main-course card" routerLink="/examen-ingles-online" fragment="top">
				<div class="main-course-image">
					<picture>
						<source srcset='/assets/images/home/certificar-nivel-online/alternativa-toefl-ielts-aptis-cambridge-online.webp' type='image/webp'>
						<source srcset='/assets/images/home/home-profesional.jpf' type='image/jpf'>
						<source srcset='/assets/images/home/home-profesional.jxr' type='image/vnd.ms-photo'>
						<img srcset='/assets/images/home/certificar-nivel-online/alternativa-toefl-ielts-aptis-cambridge-online.jpeg' alt='Examenes de Ingles Online'>
					</picture>
				</div>
				<div class="main-course-content">
					<div class="main-course-title bold">Certificar mi nivel online</div>
					<p class="main-course-text">
						Consigue <strong>certificar tu nivel B1, B2, C1 o C2</strong> del Marco Común Europeo, realizando <strong>tu examen oficial online</strong> ¡incluso desde tu casa!
					</p>
					<button class="btn red bold">Ver m&aacute;s</button>
				</div>
			</div>
			<div class="main-course card" routerLink="/app-aprender-ingles" fragment="top">
				<div class="main-course-image">
					<picture>
						<source srcset='/assets/images/home/app/apps-para-clases-de-ingles.webp' type='image/webp'>
						<source srcset='/assets/images/home/home-empresas.jpf' type='image/jpf'>
						<source srcset='/assets/images/home/home-empresas.jxr' type='image/vnd.ms-photo'>
						<img srcset='/assets/images/home/app/apps-para-clases-de-ingles.jpeg' alt='Mejor app para hablar inglés con nativos'>
					</picture>
				</div>
				<div class="main-course-content">
					<div class="main-course-title bold">La mejor app de ingl&eacute;s</div>
					<p class="main-course-text">
						La <strong>mejor aplicación gratuita para aprender ingl&eacute;s</strong> con ejercicios interactivos y con miles de profesores nativos disponibles 24/7.
					</p>
					<button class="btn red bold">Ver m&aacute;s</button>
				</div>
			</div>
		</div>
	</div>

	<h2 style="margin: 50px auto; text-align: center;">¡Aprende con nosotros!</h2>

	<div class="skew-block blue">
		<div class="skew-block-container">
			<div class="description-media video card">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/SOKAQ0iI07k" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<div class="why-ala page-width">
		<div class="why-ala-component">
			<div class="pill pink" routerLink="/sobre-nosotros">
				<p class="text-large bold">+100 mil</p>
				<p style = "font-size: 8pt;">Estudiantes en todo el mundo</p>
			</div>
			<p>
				Los cursos de inglés online de American Language han ayudado a miles de alumnos en todo el mundo a
				mejorar su nivel de inglés y a lograr sus metas con el idioma. La experiencia y la innovación a lo 
				largo de estos años nos convierte en la <strong>academia americana líder en formación online</strong>.
			</p>
		</div>
		<div class="why-ala-component">
			<div class="pill purple" routerLink="/sobre-nosotros">
				<p class="text-large bold">+4,5/5</p>
				<p class="text-small">Evaluaci&oacute;n alumnos</p>
			</div>
			<p>
				Nuestra metodología funcional y comunicativa hará que mejores enormemente tus capacidades orales 
				y de comprensión en inglés en poco tiempo. La valoración de nuestros alumnos es excelente 😊.
			</p>
		</div>
		<div class="why-ala-component">
			<div class="pill blue" routerLink="/sobre-nosotros">
				<p class="text-large bold">+10 mil</p>
				<p class="text-small">Certificados de nivel</p>
			</div>
			<p>
				Hemos ayudado a miles de alumnos a certificar su nivel de inglés del marco común europeo 
				(A1, A2, B1, B2, C1 o C2) con los exámenes oficiales de inglés online.
			</p>
		</div>
	</div>
</div>