<section>
  <div class="coming-soon">
      <div class="time-countdown">
          <ul>
              <li class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</li>
              <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
              <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
          </ul>
      </div>
  </div>
</section>

<button class = "btn red" (click) = "startCountdown();"> Iniciar countdown</button>

<!-- <div class="countdown">
    {{hours}} : {{minutes}} : {{seconds}}
</div> -->
