<div class="random-number-generator">
    <button class="btn blue" (click)="getSummer2020ContestWinner()"><strong>Conoce al ganador</strong></button>
</div>

<div class="winner-stars">
    <!-- <li *ngFor="let winner of winners; let i = index">{{winner}}</li> -->
    <p>{{winner}}</p>
</div>

<div class="estrellas">
    <div class="star small late"><i class="fas fa-star"></i></div>
    <div class="star medium later"><i class="fas fa-star"></i></div>
    <div class="star large latest"><i class="fas fa-star"></i></div>
    <div class="star small sooner"><i class="fas fa-star"></i></div>
    <div class="star medium soon"><i class="fas fa-star"></i></div>
    <div class="star large soonest"><i class="fas fa-star"></i></div>
    <div class="star small late"><i class="fas fa-star"></i></div>
    <div class="star medium later"><i class="fas fa-star"></i></div>
    <div class="star large latest"><i class="fas fa-star"></i></div>
    <div class="star small sooner"><i class="fas fa-star"></i></div>
    <div class="star medium soon"><i class="fas fa-star"></i></div>
    <div class="star large soonest"><i class="fas fa-star"></i></div>

    <div class="star small late"><i class="fas fa-star"></i></div>
    <div class="star medium later"><i class="fas fa-star"></i></div>
    <div class="star large latest"><i class="fas fa-star"></i></div>
    <div class="star small sooner"><i class="fas fa-star"></i></div>
    <div class="star medium soon"><i class="fas fa-star"></i></div>
    <div class="star large soonest"><i class="fas fa-star"></i></div>
    <div class="star small late"><i class="fas fa-star"></i></div>
    <div class="star medium later"><i class="fas fa-star"></i></div>
    <div class="star large latest"><i class="fas fa-star"></i></div>
    <div class="star small sooner"><i class="fas fa-star"></i></div>
    <div class="star medium soon"><i class="fas fa-star"></i></div>
    <div class="star large soonest"><i class="fas fa-star"></i></div>
</div>


