@import 'src/assets/style/css3-mixins';
@import 'src/assets/style/variables';
@import 'src/assets/style/colors';

.exam-inscription {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
        @media screen and (max-width: $break-tablet) {
            box-sizing: border-box;
            padding: 0 20px;
            text-align: center;
        }
    }
    .img-container {
        max-width: 250px;
        margin: 20px 0;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.modal-inscription {
    max-width: 400px;
    width: 50%;
    @media screen and (max-width: $break-tablet) {
        width: 85%;
    }
}