<div class="error-code-container page-width">
    <div class="error-code">
        404
    </div>
    <div class="error-content">
        Podemos enseñarte muchas cosas, pero no sabemos a dónde quieres llegar.
    </div>

    <div class="links-container">
        <button class="btn green" routerLink="/cursos-ingles-madrid">
            <i class="fas fa-chalkboard-teacher"></i>
            Cursos
        </button>

        <button class="btn red" routerLink="/">
            <i class="fas fa-home"></i>
            Home
        </button>

        <button class="btn green" routerLink="/academias-de-ingles-madrid">
            <i class="fas fa-school"></i>
            Academia
        </button>
    </div>

    
</div>