@import 'src/assets/style/css3-mixins';
@import 'src/assets/style/variables';
@import 'src/assets/style/colors';


.hiddenElement {
    display: none;
}

.hiddenButton {
    display: none;
}

.checkbox {
    position: initial;
}

.green-input {
    border: 2px solid #49dc49;
}

#card-errors {
    color:red;
    margin: 15px auto;
}

.red-input {
    border: 2px solid #f52626;
}

.fit-content {
    width: -webkit-fill-available;
}

.modal {
    @media screen and (min-width: $break-tablet + 1){
        width: 50%;
    }

    @media screen and (max-width: $break-mobile){
        height: 80%;
    }

    .form-div {
        display: flex;
        width: 75%;
        @media screen and (max-width: $break-mobile) {
            width: 95%;
        }
        @media screen and (min-width: $break-mobile + 1) and (max-width: 1025px) {
            width: 90%;
        }
        margin: auto;

        .scrollable-option {
            min-width: 100%;
            text-align: center;
            input {
                border-radius: 5px;
                height: 30px;
                width: -webkit-fill-available;
            }
            select {
                border-radius: 5px;
                font-family: Gotham-Rounded-Book;
                font-size: 11pt;
                color: #757575;
                height: 50px;
                width: -webkit-fill-available;
                @media screen and (max-width: $break-mobile){
                    margin: 5px 10px;
                }
            }
            .flex {
                margin: auto;
                @media screen and (min-width: $break-tablet + 1){
                    display: flex;
                }
            }
            .level-test {
                margin-top: 10px;
                text-align: center;
                .lt-options {
                    margin-top: 10px;
                    input {
                        width: auto; height: auto;
                    }
                }
            }
            .buttons {
                text-align: center;
                margin-top: 10px;
            }
            .form-row {
                @media screen and (min-width: $break-tablet + 1){
                    width: 465px;
                }
                
                border: 1px solid #78909C;
                border-radius: 5px;
                padding: 10px;
                margin: 15px auto;

                @media screen and (max-width: $break-mobile) {
                    margin: 5px auto 15px;
                }
            }
            .terms {
                text-align: center;
            }
            .course-price {
                margin: 40px auto;
                width: 80%;
                border: 1px solid #e9e9eb;
                box-shadow: 0 5px 10px rgba(0,0,0,.1);
                border-radius: 15px;
                @media screen and (max-width: $break-mobile){
                    width: auto;
                }
                h1 {
                    font-size: -webkit-xxx-large;
                    // color: #5b9460;
                    color: #6c72b7;
                    font-style: oblique;
                }
            }
        }
    }
}

.confirm-payment-buttons {
    input {
        height: auto;
        width: auto;
    }
    @media screen and (min-width: $break-mobile + 1){
        display: flex;
        justify-content: center;
    }
}