<div class="skew-block very-light-gray">
  <div class="skew-block-container">
    <!-- <div class="companies-container" id="companies-container"> -->

      <!-- <div id="companies-slider" class="companies-slider">
        <div class="company-logo {{ball['size']}} {{ball['color']}} {{ball['name']}}"
          *ngFor="let ball of companies; let i = index">
          <img src="{{(ball['image']) ? ball['image'] : ball['backupImage']}}" [alt]="ball['alt']">
        </div>
      </div> -->

      <!-- <div class="companies-slider preview-slide">
        <div class="company-logo preview {{ball['size']}} {{ball['color']}} {{ball['name']}}"
          *ngFor="let ball of companies; let i = index">
          <img src="{{(ball['image']) ? ball['image'] : ball['backupImage']}}" [alt]="ball['alt']">
        </div>
      </div> -->

    <!-- </div> -->
    <div class="companies-container-2" id="companies-container-2">
      <div id="companies-slider-2" class="companies-slider-2 page-width">
        <div class="company-logo {{ball['size']}} {{ball['color']}} {{ball['name']}}"
          *ngFor="let ball of companies; let i = index">
          <img src="{{ball['image']}}" [alt]="ball['alt']">
        </div>
      </div>
    </div>
  </div>
</div>
