<div class="explanation-booking" id="book-your-pc">
  <h2 class="text-center space-title2">Sala multimedia</h2>

  <div class="banner banner-verano">
	<div class="background" [ngClass]="{borderless:!windowSize.isMobile, card:!windowSize.isMobile}">
		<div class="gradient orange">
			<p class="bold">
				Reserva tu plaza<br>
				y practica tu examen TOEFL®
			</p>
		</div>
		<img class="background-img" src="assets/images/banners/sala-multimedia-reserva2.jpg" alt="Reserva tu plaza en la sala multimedia.">
	</div>
	<div class="icon-banner bottom-left">
		<img src="assets/images/logos/Your-best-learning-experience.png"
			alt="Your best learning experience - Cursos de inglés de verano">
	</div>
</div>

  <p class="space-text text-center">El tiempo recomendado para la realización del <strong>simulacro de TOEFL®</strong> es de un mínimo de dos horas.</p>
</div>

<div class="book-multimedia">
  <button class="btn blue" (click)="openBookModal()">Reserva de simulacro</button>
</div>

<div class="modal-background" *ngIf='modal.modals === "book-multimedia"' (click)="closeBookModal()"></div>
<div class="modal-appointments modal" *ngIf="modal.modals === 'book-multimedia'">
	<div class="modal-header">
		<h2 class="modal-title">Reserva tu plaza</h2>
		<div class="modal-close btn red" (click)="closeBookModal()"><i class="fas fa-times"></i></div>
	</div>

	<div class="modal-content">
      
		<div id="full-container-phases" class="full-container-phases" [ngClass]="{
			'phaseOne': datePhase == 1,
			'phaseTwo': datePhase == 2,
			'phaseThree': datePhase == 3
		}">
			<div class="phase-date-calendar phase">
				<app-calendar [from]=bookMultimedia (today)="getCalendarData($event)" (newDay)="selectNewDay($event)">
				</app-calendar>
				<div class="currentDayContainer text-large ala-blue">
					{{calendar['currentDay']}} {{calendar['currentMonthName']}}
				</div>
				<div class="calendarMessage" *ngIf="calendarMessage">
					{{calendarMessage}}
				</div>
			</div>

			<div class="phase-time-appointment phase">
				<div class="appointments-container" *ngIf="datePhase == 2">
          <h4>American Test Center</h4>
					<div class="define-appointment-time" *ngFor="let range of schedules; let i = index">
						<div class="rows-container">
              <div class="appointment-time-row" *ngFor="let hour of range['hours']; let idx = index" 
                [ngClass]="{
                  supervised: (weekDay === 'tuesday' && supervisedTimesTuesday[idx] === 'sup') || (weekDay === 'thursday' && supervisedTimesThursday[idx] === 'sup'),
                  smallRoom: smallRoomTimes[idx] == 'small'
                }" (click)="askForAppointment(hour)">
								{{hour}}
							</div>
						</div>
					</div>
				</div>

				<div class="currentDayContainer text-large ala-blue">
					{{calendar['currentDay']}} {{calendar['currentMonthName']}}
        </div>
        
        <div class="color-legend">
          <p class="space-text" *ngIf="weekDay === 'tuesday' || weekDay === 'thursday'">Las horas marcadas en <span class="green">verde</span> indican que la sesión estará tutorizada.</p>
          <p class="space-text">Las horas marcadas en <span class="orange">naranja</span> indican que la sesión será en la sala pequeña (Pz. Conde Valle de Suchil, 17).</p>
        </div>
			</div>

			<div class="phase-form phase" [ngClass]="{'active': datePhase == 2}">
				<form action="" #appointmentForm="ngForm">
					<div class="nameAndLastname">
						<div class="field name">
							<label for="name">Nombre y apellidos:</label>
							<input (change)="setFormfield($event, 'name')" type="text" placeholder="Tu nombre" required>
						</div>
					</div>
					<div class="dateAndTime">
						<div class="field" (click)="goToSelectedPhase(1)">
							<label for="date">Fecha:</label>
							<input type="text" value="{{calendar['currentDay']}} {{calendar['currentMonthName']}}"
								disabled required>
						</div>
						<div class="field" (click)="goToSelectedPhase(2)">
							<label for="date">Hora:</label>
							<input type="text" value="{{appointmentTimeUser}}" placeholder="Selecciona una hora"
								disabled required>
						</div>
          </div>
          <div class="field">
							<label for="endBooking">¿Hasta qué hora necesitas la plaza?</label>
							<input type="text" (change)="setFormfield($event, 'end-booking')" value="{{endBooking}}" placeholder="Dinos hasta cuándo vas a estar"
								 required>
						</div>
				</form>
			</div>
		</div>

		<div class="navButtons">
			<button class="btn prev" (click)="navigateAppointment( 'prev' )" *ngIf="datePhase != '1'">Volver</button>
			<div class="bulto" *ngIf="(datePhase == '1') || (datePhase == '3')"></div>
			<button (click)="submitBookingForm()" class="btn submit-appointment-form"
				[disabled]="!formName || !endBooking"
				*ngIf="datePhase == '3'">Pedir cita</button>
		</div>
	</div>

	<!-- <div class="thanks-mail-sent" *ngIf="sentMail">
		Email enviado.
	</div> -->
</div>


<div class="toast-container">
    <div [@toastOnOff] class="newToast" *ngFor="let toast of modal.toasts; let i = index" [ngClass]="{
      success: toast['type'] === 'success',
      error: toast['type'] === 'error'
    }">
      {{toast['message']}}
    </div>
  </div>