/* Custom Stylesheet for American Language Academy */
/* Author: Adrian Pappalardo */
/* To compile, install with npm install -g sass and run sass american.scss:american.css */

/* INDEX -- outdated
* RESET             - The standard reset to all elements to work with a clean environment
* FONTS             - The physical ALA fonts to be used in the web
* COLORS            - All the available colors to be used, please try not to use others, so everything is consistent
* BROWSER SUPPORT   - Mixins for the SCSS to allow for browser compatibility
* DOM               - All the DOM elements to be modified in a general case
* PARAGRAPH         - Text formatting
* BUTTONS           - Button formating and animation
* FORM              - Form DOM element formatting
* TABLES            - Tables with the class '.table'
* DROPDOWN          - Dropdown functionality and animation (Center alignment in american.js)
* MODAL             - Modal animation and formatting (Functionality in american.js)
* LESSON            - Lesson formating including lesson modal
*/

/* DOM */
@import 'src/assets/style/css3-mixins';
@import 'src/assets/style/variables';
@import 'src/assets/style/reset';
@import 'src/assets/style/colors';
@import 'src/assets/style/fonts';
@import 'src/assets/style/buttons';
@import 'src/assets/style/pills';
@import 'src/assets/style/forms';
@import 'src/assets/style/cards';
@import 'src/assets/style/tables';
@import 'src/assets/style/dropdowns';
@import 'src/assets/style/modals';
// @import 'src/assets/style/lessons';
@import 'src/assets/style/charts';
@import 'src/assets/style/general';

// .section-container{
//     background-color: white;
//     width: 100%;
//     height: 100vh;
//     overflow: auto;
//     position: relative;
//     margin-left: 0vw;
//     margin-top: 0vh;
//     transition-duration: 0.3s;
//     transition-timing-function: ease-in-out;
//     &.active{
//         // -webkit-transform: translateZ(0);
//         width: 100%;
//         height: 100vh;
//         // margin-left: -40vw;
//         margin-left: 80vw;
//         margin-right: -80vw;
//         -ms-box-shadow: 0 5px 15px rgba($light-blue, 0.2);
//         -o-box-shadow: 0 5px 15px rgba($light-blue, 0.2);
//         box-shadow: 0 5px 15px rgba($light-blue, 0.2);
//         transform: scale(0.9);
//         border-radius: 10px;
//         // filter: grayscale(1);
//     }
// }
section{
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &.active{
        filter: blur(5px);
    }
}