<div class="ala-fall-game">
  <section class="header page-width">
      <div class="panom-logo-container">
          <img src="https://www.americanlanguage.es/assets/images/logos/ALAmarca_panoramica_color.png" alt="">
        </div>
        <h1 class="text-center">ALA Summer Game</h1>
        <div class="subtitle">
          <div class="icon-container" (click)="testSun()"><i class="fas fa-sun"></i></div>

          <div>
            <h5 class="text-center">¡Gana premios increíbles participando!</h5>
          </div>

          <div class="icon-container" (click)="testSun()"><i class="fas fa-sun"></i></div>
        </div>
  </section>

  <section style = "text-align: center;" class="intro page-width">
      <p>Habrá soles ubicados aleatoriamente <strong>dentro de la página web de American Language Academy y American Language Online</strong>. </p>
      <p> Al hacer click en un sol, se abrirá una ventana en la que tendrás que introducir tus datos personales. ¡Acumula todos los que puedas! </p>
  </section>

  <h2 class="play-claim text-center page-width">Participa y gana uno de nuestros 17 premios (12 por puntuación y 3 por sorteo y 2 por invitar a gente a participar)</h2>

  <div class="skew-block purple">
    <div class="skew-block-container">
        <section class="first-category category">
            <h3 class="text-center category-title space-title3">Premios por puntuación - 12 premios</h3>
            <ul class="awards-display page-width">
              <li class="card second">
                <!-- <p class="space-text">Los concursantes que queden entre segunda y cuarta posición podrán elegir entre los siguientes premios.</p> -->
                <p class="space-text"><strong><span class="resalt">Segundo premio</span></strong>: A elegir un premio entre los tres siguientes:</p>
                <ul class="list-prizes">
                  <li><strong>Altavoz Alexa Echo</strong> de tercera generación</li>
                  <li><strong>Dron</strong> con cámara HD y WiFi</li>
                  <li><strong>Tres días con encanto</strong> - Wonderbox</li>
                </ul>

                <hr>

                <p class="space-text"><strong><span class="resalt">Tercer premio</span></strong>: A elegir entre los siguientes:</p>
                <ul class="list-prizes">
                  <li>Un mes gratis de un <strong>curso de inglés One Session</strong> o <strong>Semi Intensivo</strong></li>
                  
                  <li><strong>Suscripción a Netflix</strong> de 9 meses</li>
                </ul>
              </li>
              <li class="card main">
                <p class="space-text">El concursante que más puntos consiga podrá elegir entre los siguientes premios.</p>
                <p><strong><span class="resalt">1er premio - Top Wise Player</span></strong>: A elegir un premio entre los cuatro siguientes:</p>
                <ul class="list-prizes">
                  <li>Viaje sorpresa por Europa</li>
                  <li>Smart TV de 50"</li>
                  <li>Xiaomi Mi 9T</li>
                  <li>Patinete urbano Cecotec</li>
                </ul>

                <div class="award-preview"><img src="assets/images/sorteo/patinete-electrico.jpg" alt="Concurso American Language Online"></div>
              </li>
              <li class="card third">
        
                <!-- <p class="space-text">Los concursantes que queden entre quinta y décima posición.</p> -->
                <p class="space-text"><strong><span class="resalt">Cuarto premio</span></strong>: A elegir entre los siguientes:</p>
                <ul class="list-prizes">
                  <!-- <li>Bono <strong>Amazon</strong> 75€</li> -->
                  <li><strong>Escapada con encanto</strong> - Wonderbox</li>
                  <li><strong>Suscripción Open English</strong> de 6 meses</li>
                </ul>

                <hr>

                <p class="space-text"><strong><span class="resalt">Quinto premio</span></strong>: A elegir entre los siguientes:</p>
                <ul class="list-prizes">
                    <!-- <li>Bono <strong>Amazon</strong> 50€</li> -->
                    <li><strong>Experiencias a la carta</strong> - Wonderbox</li>
                    <li><strong>Suscripción Open English</strong> de 4 meses</li>
                </ul>

                <hr>

                <p class="space-text"><strong><span class="resalt">6 posición a 12 posición (7 Premios)</span></strong>: Suscripción de 3 meses al curso de inglés online <strong>Open English by ALA</strong>.<br>En caso de saber inglés, se podrá canjear por una <strong>cena para dos personas</strong> en el restaurante Bolívar.</p>

              </li>
            </ul>
          </section>
    </div>
  </div>
  

  <div class="fotos-premios">
      <div class="premio waynabox">
        <img src="assets/images/sorteo/waynabox.jpg" alt="Primer premio American Language Online">
      </div>

      <div class="premio patinete">
        <img src="assets/images/sorteo/patinete.jpg" alt="Primer premio American Language Online">
      </div>

      <div class="premio pocophone">
        <img src="assets/images/sorteo/xiaomi-mi-9t.jpg" alt="Primer premio American Language Online">
      </div>

      <div class="premio smart-tv">
        <img src="assets/images/sorteo/smarttv.jpg" alt="Primer premio American Language Online">
      </div>
    </div>

    <div class="skew-block green">
        <div class="skew-block-container">
            <section class="second-category category">
                <h3 class="text-center category-title space-title3">Sorteo Star Finder - 3 premios</h3>
                <p class="space-text text-center intro-sorteo">Por cada 10 puntos que obtengas en el concurso, obtendrás una participación en el sorteo Star Finder, por lo que tendrás más posibilidades de ganar.
                    <br>El sorteo se celebrará el miércoles 26 de Agosto de 2020 a las 12:30.</p>
                <ul class="awards-display page-width">
                  <li class="card second">
                    <h4 class="text-center space-text">Suscripción de 6 meses al curso Open English by ALA</h4>
                    <!-- <p class="space-text">Breve explicación de cómo va a ser el premio.</p> -->
                    <div class="img-container"><img src="https://api.americanlanguage.es/uploads/b2ba4b65c64943c3b9cdb651fea1453d.jpg" alt=""></div>
                  </li>
                  <li class="card main">
                    <h4 class="text-center space-text">Star Finder</h4>
                    <p class="space-text">El ganador del Sorteo <strong>Star Finder</strong> podrá elegir entre un altavoz Alexa Echo de tercera generación, un dron con cámara HD y WiFi o Una caja Wonderbox de tres días con encanto.</p>
                    <div class="img-container alexa"><img src="assets/images/sorteo/alexa.png" alt=""></div>

                  </li>
                  <li class="card third">
                    <h4 class="text-center space-text">Suscripción de 3 meses al curso Open English by ALA</h4>
                    <!-- <p class="space-text">Breve explicación de cómo va a ser el premio.</p> -->
                    <div class="img-container"><img src="https://api.americanlanguage.es/uploads/b2ba4b65c64943c3b9cdb651fea1453d.jpg" alt=""></div>

                  </li>
                </ul>
              </section>
        </div>
    </div>

    <div class="skew-block yellow">
      <div class="skew-block-container">
          <section class="second-category category">
              <h3 class="text-center category-title space-title3">Premio Embajador del Concurso - 2 premios</h3>
              <p class="space-text text-center intro-sorteo">¡Invita a todos tus amigos y familiares a participar en el concurso! Quienes inviten a más personas a participar, también recibirán uno de los siguientes premios:</p>
              <br>
              <ul class="awards-display page-width" style = "justify-content: center;">
                <li class="card second">
                    <h4 class="text-center space-text">Suscripción de 6 meses al curso Open English by ALA</h4>
                    <!-- <p class="space-text">Breve explicación de cómo va a ser el premio.</p> -->
                    <div class="img-container"><img src="https://api.americanlanguage.es/uploads/b2ba4b65c64943c3b9cdb651fea1453d.jpg" alt=""></div>
                </li>
                <li class="card second most-friendly-award-xiaomi">
                    <h4 class="text-center space-text">Premio Embajador del Concurso</h4>
                    <p class="space-text">El ganador del <strong>Premio Embajador del Concurso</strong> se llevará un Xiaomi Mi 9T de última generación.</p>
                    <div class="img-container alexa"><img src="assets/images/sorteo/xiaomi-Mi-9t.png" alt=""></div>
                </li>
              </ul>
            </section>
      </div>
    </div>

    <!-- <p class="space-text text-center">El concurso empieza el miércoles 8 de Julio de 2020 a las 17:00, finalizando el miércoles 26 de Agosto de 2020 a las 10:00 AM.</p> -->

    <div class="see-bases"><button class="btn green" (click)="toggleBases()"><strong>Ver bases del concurso completas</strong></button></div>

    <div class="full-rules page-width" *ngIf="showBases">
        <h2 class="space-title2">Bases del concurso</h2>
    
        <p class="space-text">
          Inicio del concurso: el concurso empieza el miércoles 8 de Julio de 2020 a las 17:00 y finaliza el miércoles 26 de
          Agosto de 2020 a las 10:00.
        </p>

        <div class="space-text">
          <p>El jugador tendrá que acceder a la página web de una de estas dos formas:</p> <br>
            <div style = "margin-left: 20px;">
                <p>1. Haciendo una búsqueda en Google con las palabras indicadas y hacer click en el enlace
                  que lleva a nuestra página web (no se cuenta el Sol si se accede a la página a través de un
                  anuncio en Google)
                </p> <br>

                <p>
                  2. Yendo a una de las páginas web que se te indicarán, en donde se encontrará un 
                  enlace a nuestra página. Tendrás que acceder a través de ese enlace.
                </p> <br>
            </div>
        </div>

        <p class="space-text">
            En qué consiste el concurso: aparecerán soles en diferentes ubicaciones de la página web de forma aleatoria. 
        </p>
    
        <p class="space-text">
            La primera vez que el jugador rellena el formulario que aparece al hacer click en un sol, 
            deberá introducir su dirección de correo electrónico (que servirá como nombre de usuario), 
            su nombre y su número de teléfono (que se utilizará como contraseña en futuras sesiones). 
            Solamente se pedirá esto la primera vez que se participe en el concurso. Las siguientes 
            veces, con el número de teléfono y el correo electrónico será suficiente para participar.
        </p>
    
        <p class="space-text">
            Se obtendrá una participación en el sorteo al encontrar el primer sol. Luego, cada vez que 
            el participante encuentre 10 soles, obtendrá una participación extra en el sorteo. 
            Se pueden acumular únicamente 5 soles por dispositivo al día. 
        </p>
    
        <p class="space-text">
            Otra forma de ganar un premio es invitando a participar a todos los amigos y familiares que 
            puedas. Ellos tendrán que indicar que has sido tú quien les ha invitado a participar. 
            Al final, la persona que haya invitado a más gente a participar recibirá uno de nuestros 
            premios.
        </p>

        <p class="space-text">
            Los ganadores del premio Top Sun Hunter quedarán excluidos del Sorteo Star Finder.
        </p>

        <div class="images-draw">
            <div class="draw-image-container">
                <img src="assets/images/sorteo/Captura2020-1.jpg" alt="Imagen del sorteo de verano">
            </div>

            <div class="draw-image-container">
              <img src="assets/images/sorteo/Captura2020-2.jpg" alt="Imagen del sorteo de verano">
            </div>
        </div>

        <p class="space-text">
            Resolución del concurso: el miércoles 26 de Agosto del 2020 se realizará el conteo de puntos de todos los concursantes.
        </p>

        <div class="space-text">
            <p>Premios: Dentro del concurso diferenciamos <strong>3 categorías</strong>.</p><br>
            <p>
                <strong>La primera es Top Sun Hunter;</strong> esta categoría premiará a los concursantes que más puntos 
                acumulen encontrando soles. El primer premio consiste en un viaje para dos personas a una 
                ciudad europea a través de la caja “Waynabox - Sorpresa en Europa”, por lo que el viaje irá 
                sujeto a las condiciones de Waynabox; una SmartTV TD Systems k50pch; un smartphone Xiaomi Mi 9T 
                o un patinete eléctrico Cecotec. El concursante que quede en segunda posición podrá elegir entre 
                un altavoz Alexa Echo de tercera generación, un dron con cámara HD y WiFi o una caja Wonderbox 
                "Tres días con encanto". El premio para el tercer concursante que más puntos acumule será a elegir 
                entre un mes gratis de un curso de inglés en la academia de la modalidad One Session o Semi Intensivo 
                (o la devolución de un mes en caso de que el concursante ya sea alumno de American Language Academy y 
                decida no continuar con su formación un mes más), una "Escapada con encanto" Wonderbox o una suscripción 
                a Netflix de 9 meses, en el plan básico. El premio para el concursante que quede en cuarta posición 
                será a elegir entre una caja Wonderbox - "Escapada con encanto" o una suscripción al curso online 
                Open English by ALA de 6 meses. Por último, el concursante que quede en quinta posición, podrá elegir 
                entre una suscripción de 4 meses al curso de inglés online Open English by ALA o una caja de 
                "Experiencias a la carta" - Wonderbox.
            </p>
            <br>

            <p>
                <strong>La segunda categoría es el Sorteo Star Finder</strong>. Esta parte consistirá en un sorteo en el 
                que podrá ganar cualquiera que no haya ganado alguno de los premios de la categoría 
                Top Sun Hunter. Se sorteará una suscripción de 6 meses al curso online Open English by 
                ALA, una suscripción de 3 meses al curso online Open English by ALA y un premio a elegir 
                entre un altavoz Alexa Echo de tercera generación, un dron con cámara HD y WiFi o una caja 
                Wonderbox de "Tres días con encanto".
            </p>
            <br>

            <p>
                Cómo se realizará el sorteo: Por cada 10 puntos acumulados se conseguirá una participación 
                en el sorteo. Un programa informático seleccionará aleatoriamente una de las participaciones.
            </p>
            <br>

            <p>
                <strong>La tercera categoría, Premio Embajador del Concurso</strong>, consiste en invitar amigos y familia a 
                participar en el concurso. Ellos tendrán que indicar quién les ha invitado a participar. 
                La persona que más gente invite a participar, ganará un Xiaomi Mi 9T. El segundo lugar 
                obtendrá una suscripción de 3 meses al curso online Open English by ALA.
            </p>
            <br>

            <p>
                Comunicación de los ganadores: los ganadores serán publicados en los perfiles 
                oficiales de Facebook y Twitter de American Language Academy. Se contactará con los 
                ganadores personalmente a través del email o teléfono proporcionados en un plazo máximo 
                de una semana desde la finalización del concurso. Los ganadores tendrán un plazo máximo 
                de 60 días para recoger el premio en las instalaciones de American Language Academy 
                (Plaza Conde Valle Suchil 17) desde la finalización del concurso. Para que el ganador 
                pueda recibir su premio, deberá identificarse mediante su documento de identidad. 
                En caso de que el concursante no recoja su premio durante el plazo estipulado será 
                descalificado y el premio no será repartido.
            </p>
        </div>
      </div>
</div>
