<div class="contest-flag" id="usa-flag">
  <i (click)="startContest()" class="fas fa-flag-usa"></i>
</div>

<!-- MODAL DE CONCURSO -->
<div class="modal-background"
    *ngIf='modal.modals === "flag-contest"'
    (click)="closeModal()"></div>
<div class="modal-flag modal" *ngIf='modal.modals === "flag-contest"'>
    <div class="modal-header">
        <h2 class="modal-title">
            {{
                (introductionFirst && step === 0)  ? 'Hello! :)' :
                (introductionSecond && step === 0) ? '¿Cómo funciona el concurso?' :
                (step === 0 && !introductionFirst && !introductionSecond) ? 'Ponte a prueba y participa' : 
                (stopGame) ? '¡Muy bien!' : 
                (player) ? player['Nombre'] + ': ' + player['Puntos'] + ' puntos' :
                'Pregunta'
            }}
        </h2>
        <div class="modal-close btn red" (click)="closeModal()"><i class="fas fa-times"></i></div>
    </div>

    <div class="modal-content">
        <div class="introductionFirst introduction" *ngIf="introductionFirst && !playing">
            

            <p class="space-text intro-text intro-text text-center">Learn Fall with ALA.</p>
            <p class="space-text intro-text intro-text text-center"><strong>¡Juega al ALA Fall Game!</strong></p>

            <p class="space-text intro-text intro-text text-center">Responde preguntas de gramática y vocabulario y consigue puntos por cada respuesta correcta para <strong>ganar 15 fantásticos premios</strong>.</p>
            <button (click)="introductionNav('first')" class="bnt light-blue">Jugar</button>
        </div>
        <div class="introductionSecond introduction" *ngIf="introductionSecond && !playing">

            <p class="space-text intro-text">Elige el nivel con el que te sientas más cómodo/a.</p>

            <div class="switch-level">
                <div class="switch-bar" [ngClass]="{'all-star': allStar}">
                    <p class="medium-lv" (click)="switchToEasy()">Medium Level</p>
                    <div (click)="toggleSwitch()" [ngClass]="{'all-star': allStar}" class="switch-ball"></div>
                    <p class="high-lv" (click)="switchToHard()">High Level</p>
                </div>
            </div>

            <p class="space-text intro-text">¡Suerte!</p>
            <button (click)="introductionNav('second')" class="btn cyan">Let's go</button>
        </div>

        <form class="init-form" #initForm="ngForm" *ngIf="step === 0 && !introductionFirst && !introductionSecond && !newPlayer">
            <p class="space-text">Introduce tus datos personales:</p>
            <div class="inputs">
                <input [ngClass]="{error: checked && !mailCorrect}" [(ngModel)]="email" ngModel required type="email"
                    name='email' placeholder="Email">
                <input [ngClass]="{error: checked && !phoneCorrect}" *ngIf="!alreadyPlaying" [(ngModel)]="phone" ngModel
                    required type="phone" name='phone' placeholder="Teléfono">
            </div>

            <div class="login-buttons">
                <input (click)="submitInitForm(initForm)" type="submit"
                    value="Participar" class="btn light-green">
            </div>
            <p class="error-msg text-center" *ngIf="initFormBool">Tienes que completar el formulario</p>
        </form>

        <form #nameForm="ngForm" *ngIf="step === 0 && !introductionFirst && !introductionSecond && newPlayer">
                <p class="space-text">¡Bienvenido al ALA English Game! Esperamos que te lo pases bien jugando y aprendiendo inglés.</p>
                <p class="space-text">¿Cómo te llamas?</p>
                <div class="inputs">
                    <input [ngClass]="{error: checked && !nameCorrect}" [(ngModel)]="name" ngModel required type="name"
                        name='name' placeholder="Nombre y apellidos">
                </div>
    
                <div class="login-buttons">
                    <input (click)="submitNameForm(nameForm)" type="submit"
                        value="Jugar" class="btn light-green">
                </div>
            </form>

        <div class="question-container question-{{step}}" *ngIf="!stopGame && step !== 0 && selectedQuestion">
            
            <p class="show-level space-text" [ngClass]="{high: allStar}">Level: <strong>{{allStar ? 'high' : 'medium'}}</strong>.</p>

            
            <div class="question">
                <div class="title">{{selectedQuestion['question']}}</div>
                <ul class="answers-container">
                    <li class="answer answer-{{k}}" (click)="checkAnswer(selectedQuestion['index'], answer)"
                    *ngFor="let answer of selectedQuestion['answers']; let k = index">{{answer}}</li>
                </ul>
            </div>

            <div class="btn-container change-level-btn">
                <button class="btn negative deep-purple" (click)="toggleShowLevelSwitch()">Change difficulty</button>
            </div>
            <div class="switch-level" *ngIf="showLevelSwitch">
                <div class="switch-bar" [ngClass]="{'all-star': allStar}">
                    <p class="medium-lv" (click)="switchToEasy()">Medium Level</p>
                    <div (click)="toggleSwitch()" [ngClass]="{'all-star': allStar}" class="switch-ball"></div>
                    <p class="high-lv" (click)="switchToHard()">High Level</p>
                </div>
            </div>
        </div>

        <div class="nextChallenge" *ngIf="stopGame && inputQuestionCounter !== 15 && suggestedCounter !== 31">
            <!-- <div class="connection home" *ngIf="url === '/cursos-ingles-madrid/intensivo-adultos'"> -->
            <div class="connection home" *ngIf="url === '/cursos-ingles-madrid'">
                <!-- Ya tienes {{player['Puntos']}}. Para continuar jugando, dirígete a la <a class="underline colorful" (click)="closeModal()" routerLink="/academias-de-ingles-madrid" fragment="usa-flag">página de Academias</a> -->
                Ya tienes {{player['Puntos']}}. Para continuar jugando, dirígete a la <a class="underline colorful" (click)="closeModal()" href="/academias-de-ingles-madrid#usa-flag" fragment="usa-flag">página de Academias</a>
            </div>
            <div class="connection academies" *ngIf="url === '/academias-de-ingles-madrid'">
                Ya tienes {{player['Puntos']}}. Para continuar jugando, dirígete a la <a class="underline colorful" (click)="closeModal()" href="/cursos-ingles-madrid/preparacion-toefl#usa-flag" fragment="usa-flag">página de cursos de TOEFL®</a>
            </div>
            <div class="connection courses" *ngIf="url === '/cursos-ingles-madrid/preparacion-toefl'">
                <!-- Ya tienes {{player['Puntos']}}. Para continuar jugando, dirígete a la <a class="underline colorful" (click)="closeModal()" href="/cursos-ingles-madrid/intensivo-adultos#usa-flag" fragment="usa-flag">página de cursos intensivos de inglés</a> -->
                Ya tienes {{player['Puntos']}}. Para continuar jugando, dirígete a la <a class="underline colorful" (click)="closeModal()" href="/cursos-ingles-madrid#usa-flag" fragment="usa-flag">página de cursos de inglés</a>
            </div>
        </div>
 
        <div class="inputQuestion" *ngIf="stopGame && inputQuestionCounter === 15">
            <form #inputQuestionForm="ngForm">
                <h4>{{selectedInputQuestion['question']}}</h4>
                <input type="text" ngModel [(ngModel)]="number" name="number" placeholder="Responde aquí">
                <input type="submit" class="btn light-green" value="Responder" (click)="answerInputQuestion(inputQuestionForm)">
            </form>
        </div>

        <div class="randomSearch" *ngIf="stopGame && suggestedCounter === 31">
            <p>Para continuar jugando, realiza la siguiente búsqueda en <a class="underline colorful" href="https://www.google.com/search?q={{suggestedUrl}}" target="_blank">Google</a> y vuelve a entrar en la web de American Language Academy:</p>
            <p>{{suggestedRandom}}</p>
            <p><strong>(Recuerda no hacer click en los anuncios)</strong></p>
        </div>
    </div>
</div>

<div class="toast-container">
    <div [@toastOnOff] class="newToast" *ngFor="let toast of modal.toasts; let i = index" [ngClass]="{
            success: toast['type'] === 'success',
            error: toast['type'] === 'error'
        }">
        {{toast['message']}}
    </div>
</div>