<pre class="terms page-width">
<h1>AVISO LEGAL</h1>

<h2>PROTECCIÓN DE DATOS</h2>

<p>Al aceptar y cumplimentar cualquiera de los formularios en esta página web para hacernos llegar sus comentarios, dudas, sugerencias y/o solicitar presupuesto personalizado sin compromiso, esta Ud. aceptando el tratamiento de sus datos personales con el único fin de hacerle llegar información sobre cualquiera de los cursos y servicios de nuestra web. La base legal del tratamiento de sus datos es el consentimiento del interesado. Estos datos se incorporan a un fichero propiedad de American Language Academy, S.L. Sus datos personales no se cederán a terceros en ningún caso, salvo imperativo legal. 
    American Language Academy se acoge a lo estipulado en la Ley Orgánica 15/1999 de Protección de Datos (LOPD), publicada en el B.O.E. núm. 298 del 13 de diciembre de 1999 así como el REGLAMENTO (UE) 2016/679 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de 27 de abril de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva 95/46/CE (Reglamento General de Protección de Datos – RGPD).</p>

<p>Asimismo, con el envio del formulario, ud. declara estar informado sobre los derechos de acceso, rectificación, supresión, limitación del tratamiento, oposición y portabilidad que podrá mediante correo electrónico a <a routerLink="/academias-de-ingles-madrid">ala@americanlanguage.es</a> indicando ‘Solicitud de baja del fichero’ en el asunto o enviandonos una carta a:</p>

<div>
    <strong>American Language Academy</strong> 
    Plaza Conde Valle Suchil, 17 
    28015 Madrid
</div>

<p>(He leído los términos y condiciones y estoy de acuerdo con la política de privacidad acorde a la Ley Orgánica de Protección de Datos y el Reglamento General de Protección de Datos)</p>

<h2>INFORMACIÓN LEGAL</h2>
Las presentes disposiciones regulan el uso del servicio del presente Portal de Internet que AMERICAN LANGUAGE ACADEMY, S.L. pone a disposición de los Usuarios. AMERICAN LANGUAGE ACADEMY, S.L. es una sociedad mercantil constituida el 15 de Abril de 1983. Se encuentra inscrita en el Registro Mercantil de Madrid, Tomo 6.960 general, 5.961 de la sección tercera del libro de Sociedades, folio 110, hoja nº 59.868-I, inscripción primera; transformada en Sociedad de Responsabilidad Limitada, mediante escritura autorizada por el Notario de Madrid D. José Mª Olivares James, con CIF: B-28834091. 

<h3>Domicilio Social:</h3>
Plaza del Conde Valle Suchil, 17
28015 Madrid
Tlfn: 91 445 55 11 

La denominación "AMERICAN LANGUAGE ACADEMY- ala programs" y su logotipo son marcas registradas por American Language Academy, S.L. El acceso al Portal en ningún caso atribuye ningún derecho sobre las citadas marcas, nombres comerciales y/o signos distintivos.
PROTECCIÓN DE DATOS
Responsable del tratamiento:

Identidad: American Language Academy, S.L. – CIF B28834091
Dirección postal: Plaza Conde Valle Súchil, 17 – 28015, Madrid.
Teléfono: 914445511
Correo electrónico: ala@americanlanguage.es
Fines del tratamiento:

American Language Academy se acoge a lo estipulado en la Ley Orgánica 15/1999 de Protección de Datos (LOPD), publicada en el B.O.E. núm. 298 del 13 de diciembre de 1999, así como el REGLAMENTO (UE) 2016/679 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de 27 de abril de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva 95/46/CE (Reglamento General de Protección de Datos – RGPD).
Al aceptar y cumplimentar el formulario de contacto online para hacernos llegar sus comentarios, dudas, sugerencias y/o solicitar presupuesto personalizado sin compromiso, está Ud. aceptando el tratamiento de sus datos personales con el único fin de hacerle llegar información sobre cualquiera de los cursos y servicios de nuestra web. Al aceptar y cumplimentar el formulario de Trabaja con ALA para presentar tu candidatura, está Ud. Aceptando el tratamiento de sus datos personales con el único fin de incorporarle a nuestro proceso de selección.
Las agendas de Actividades Alumnos y Actividades Empresas en la sección de ALA Interactiva son de uso exclusivo para alumnos de American Language Academy S.L. que, al inscribirse en el centro, ya han sido informados sobrela finalidad del tratamiento de sus Datos para fines educativos (gestión administrativa, facturación, archivo de sus datos académicos) y envío de información sobre próximos cursos.

<h3>Legitimación:</h3>
La base legal del tratamiento de sus datos para el fin del ejercicio de la función educativa (gestión administrativa, facturación, archivo de sus datos académicos) es la ejecución del contrato de formación. La base legal del tratamiento de sus datos para el envío de información sobre próximos cursos es el consentimiento del interesado, sin que en ningún caso la retirada de este consentimiento condicione la ejecución del contrato de formación.
La base legal del tratamiento de sus datos para el fin de incorporarte a nuestros procesos de selección es el consentimiento del interesado.
La base legal del tratamiento de sus datos para el fin dehacerle llegar información sobre cualquiera de los cursos y servicios de nuestra webes el consentimiento del interesado.
Los datos personales proporcionados se conservarán mientras no se solicite su supresión por el interesado.

<h3>Destinatarios:</h3>
Los datos se comunicarán a las empresas colaboradoras American Language Group, S.L. y American TeachingGroup, S.L.exclusivamente para el fin del ejercicio de la función educativa (gestión administrativa, facturación, archivo de sus datos académicos).Sus datos personales no serán cedidos a otros terceros en ningún caso, salvo imperativo legal.

<h3>Derechos:</h3>
Los derechos que asisten a las personas interesadas en cuanto a sus datos de carácter personal son:

Derecho a solicitar el acceso a los datos personales relativos al interesado,
Derecho a solicitar la rectificación o supresión de sus datos personales.
Derecho a solicitar la limitación del tratamiento de sus datos.
Derecho de oposición al tratamiento de sus datos.
Derecho a la portabilidad de sus datos.
Estos derechos lospodrá ejercitar enviando un correo electrónico a ala@americanlanguage.es indicando 'Solicitud Baja de Fichero' o enviándonos una carta solicitando el ejercicio de cualquiera de estos derechos a nuestro domicilio social (Plaza Conde Valle Suchil, 17, 28015 Madrid), adjuntando en ambos casos una copia de su DNI.

Asimismo, en caso de considerar vulnerado su derecho a la protección de datos personales, podrán interponer una reclamación ante la Agencia Española de Protección de Datos (www.aepd.es)
Las agendas de Actividades Alumnos y Actividades Empresas en la sección de ALA Interactiva son de uso exclusivo para alumnos de American Language Academy S.L. que, al inscribirse en el centro, ya han sido informados sobre la incorporación de sus Datos al fichero inscrito en la Agencia de Protección de Datos así como de la finalidad del tratamiento de sus Datos para gestión administrativa, facturación, archivo de sus datos académicos, y envío de información sobre próximos cursos. 

<!-- <div class = "contests" *ngIf="showStar">
	<app-star-promotion></app-star-promotion>
</div> -->

<h3>PROPIEDAD INTELECTUAL E INDUSTRIAL</h3>
Todos los contenidos incluidos en el presente Portal, especialmente los diseños, los textos, los gráficos, los vídeos, servicios, bases de datos y arquitectura de navegación son propiedad intelectual de American Language Academy S.L. o de terceros. Queda totalmente prohibida la utilización del contenido, su total o parcial reproducción, comunicación y/o distribución con fines comerciales o lucrativos, así como su modificación, alteración, descompilación y/o cualquier acto de explotación de los sitios web, sus páginas y/o de los contenidos que en ellas se incorporan y su creatividad. Estas conductas podrán dar lugar al ejercicio de cuantas acciones judiciales o extrajudiciales le pudieran corresponder a American Language Academy S.L. en el ejercicio de sus derechos. 

<h3>USO</h3>
El Usuario se compromete a utilizar los contenidos de conformidad con la Ley y el presente aviso legal y, en concreto, deberá abstenerse de reproducir, copiar, distribuir, poner a disposición de terceros, extraer y/o reutilizar la totalidad o una parte de los presentes contenidos salvo en los supuestos previstos por la Ley o expresamente consentidos por American LanguageAcademy S.L.
El mal uso o el abuso del contenido de la página web www.americanlanguage.es así como de la marca registrada por American Language Academy S.L., mostrada tanto en esta página web como en cualquier otro contenido de la misma, queda estrictamente prohibido. 

<h3>RESPONSABILIDAD</h3>
El uso de esta página web se realizará bajo la única y exclusiva responsabilidad del usuario. American Language Academy S.L. no se responsabiliza en ningún caso de los daños y perjuicios que puedan surgir como consecuencia del acceso a esta página web, tales como errores u omisiones en los contenidos, falta de disponibilidad del portal y/o la transmisión de virus o programas maliciosos o lesivos en los contenidos, pese a haberse tomado las medidas necesarias para evitarlo.
American Language Academy S.L. se reserva el derecho a realizar sin previo aviso las modificaciones que considere necesarias en esta página web. Estas modificaciones incluyen entre otros cambios, supresiones y/o adiciones tanto de los contenidos y servicios en ella prestados así como la forma y estilo en estos aparecen presentados o ubicados en ella. 

<h3>LEY APLICABLE</h3>
El presente Aviso Legal se rige en todos y cada uno de sus extremos por la ley española.

<h3>POLITICA DE USO DE COOKIES</h3>
Esta página web utiliza cookies, que son pequeños archivos que se almacenan temporalmente en el disco duro del usuario para recopilar información sobre su navegación. Estas cookies permiten personalizar y facilitar, en la medida de lo posible, la navegación del usuario por la página web. Estas cookies se relacionan a un único usuario anónimo y su ordenador pero en ningún caso permiten deducir datos personales del usuario. La mayoría de cookies que utiliza esta página web son analíticas y estadísticas y nos permiten reconocer y contar el número de visitantes que acceden a este sitio web y ver cómo navegan por las diferentes páginas que lo componen. El usuario podrá configurar las opciones de su navegador para que le notifique y le permita rechazar la instalación de las cookies enviadas por este sitio web. 
</pre>