<div class = "dynamic-banner-content">
    <!-- <a routerLink="/cursos-ingles-madrid" class="dynamic-banner-button btn white btn-centered dynamic-button1">Presencial</a>
    <a routerLink="/cursos-ingles-madrid" class="dynamic-banner-button btn white btn-centered dynamic-button2">Online</a> -->

    <a href="https://www.americanlanguage.es/cursos-ingles-madrid" class="dynamic-banner-button btn white btn-centered dynamic-button1">Presencial</a>
    <a href="https://www.americanlanguage.es/cursos-ingles-madrid" class="dynamic-banner-button btn white btn-centered dynamic-button2">Online</a>
</div>